__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg
.mypy_cache/
.pytest_cache/
.ruff_cache/
htmlcov/
.coverage
*.cover
docs/build/
.DS_Store
coverage.json
docs/_build/
.coverage.*
.venv/
venv/
.tox/
.nox/
*.mo
